.about-container {
    background-image: url("https://i.ibb.co/5BBVN42/building-2654823-1920.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .9;
}
.about {
    width: 500px;
    height: 400px;
    top: 20%;
    left: 50%;
    background: transparent;
    position: relative;
    animation: mymove 5s infinite;
    animation-duration: 3s;
}
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 400px;}
}
