.covid-container {
    background-color:palegreen;
}
.covid-img {
    max-width: 500px;
    max-height: 450px;
    cursor: pointer;
    transform: scale(.9, .9);
}
.covid-img:hover {
    transform: scale(1, 1);
    transition: .8s;
}
