.WeCare-table {
    border-collapse: collapse;
    width: 100%;
  }
  
.WeCare-table td, .WeCare-table th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
  }
  
.WeCare-table tr:nth-child(even){background-color: #f2f2f2;}
  
.WeCare-table tr:hover {background-color: #ddd;}
  
.WeCare-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }